.mt-10 {
    margin-top: 10%;
}
.mt-15 {
    margin-top: 15%;
}
.mt-20 {
    margin-top: 20%;
}
.mt-50 {
    margin-top: 50%;
}
.br-1 {
    border-radius: 1rem;
}
.br-2 {
    border-radius: 2rem;
}
.br-3 {
    border-radius: 3rem;
}
.br-4 {
    border-radius: 4rem;
}
.br-5 {
    border-radius: 5rem;
}
.br-10 {
    border-radius: 10rem;
}
.br-25 {
    border-radius: 25rem;
}